@page "/"

<h3>
  Nothing to view here
</h3>

<br />
<p>Some urls:</p>
<ul>
  <li>Bromite <a href="bromite/commit/master">master</a></li>
  <li>or use this urls</li>
  <ul>
    <li>https://uazo.github.io/superpatch/bromite/commit/{sha}</li>
    <li>https://uazo.github.io/superpatch/bromite/pull/{pullid}</li>
  </ul>
</ul>

<ul>
  <li>Kiwi <a href="kiwi/commit/kiwi">master</a></li>
</ul>