@page "/"

<h3>
  Nothing to view here
</h3>

<br />
<p>Some urls:</p>
<ul>
  <li>Bromite <a href="/bromite/commit/master">master</a></li>
  <li>or use this urls</li>
  <ul>
    <li>/bromite/commit/{sha}</li>
    <li>/bromite/pull/{pullid}</li>
  </ul>
</ul>